/node_modules
/vendor
/.git
/.github
/.idea
/.vscode
.env
.env.backup
.env.production
/storage/*.key
/storage/pail
/bootstrap/ssr
npm-debug.log
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
Thumbs.db
